.hide-board {
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;
	background:rgba(255,255,255,0.7);
	z-index: 255;
}

.circle_loader {
	position: fixed;
	left: 50%;
	top: 50%;

}
#disp_turn_of {
	display: none;
}
#disp_turn_back {
	display: none;
	margin-top: 50px;
}

.enough_space {
	height: 140px;
}
